/* PrioritySelector.module.css */

.prioritySelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.priorityItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ddd;
  margin-bottom: 4px;
  transition: background-color 0.3s;
}

.selected .point {
  background-color: #0070f3;
}

.label {
  font-size: 14px;
}

.priorityItem:hover .point {
  background-color: #bbb;
}

.selected .label {
  font-weight: bold;
}

.priorityItem:nth-child(1) .point {
  background-color: #4caf50; /* Verde para "Deseo" */
}

.priorityItem:nth-child(2) .point {
  background-color: #ff9800; /* Naranja para "Necesario" */
}

.priorityItem:nth-child(3) .point {
  background-color: #f44336; /* Rojo para "Urgente" */
}

.selected .point {
  border: 2px solid #000;
}